BROKER_BASE_URI=amqp://<user_name>:<password>@<rabbitmq_container_name>:5672
FIREBASE_DATABASE_URL=<filebase_database_url>
FIREBASE_STORAGE_BUCKET=<filebase_storage_bucket>
FIREBASE_APP_NAME=text-to-art